.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: beige;
  .logo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    .logo {
      height: auto;
      width: auto;
      max-width: 16vw;
      max-height: 6vh;
      border-radius: 40px;
      padding: 10px;
    }
    .navbar-brand-title{
      font-size: 1.3rem;
      text-transform: uppercase;
      color: #f1c232;
    }
  }
  .filters-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 10vw 0 0;
    width: 20%;
    justify-content: space-between;
    .stream-button{
      cursor: pointer;
      margin: 0 15px 0 0;
      padding: 16px; 
      border-radius: 50%;
      background-color: #f1c232;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      &:hover{
        background-color: black;
        color: #f1c232;
        border: 3px solid #f1c232;
      }
      &:active{
        transform: scale(0.9);
        transition: all 0.1s ease-in-out;
      }
    }
    .download-button{
      cursor: pointer;
      margin: 0 2vw;
      display: flex;
      padding: 12px 8px; 
      border-radius: 50%;
      flex-direction: column;
      align-items: center;
      color: #f1c232;
      :first-child(1){
        font-size: 1.8em;
      }
      :nth-last-child(1){
        font-size: 0.8em;
      }
      &:hover{
        background-color: #f1c232;
        color: black;
      }
      &:active{
        transform: scale(0.9);
        transition: all 0.1s ease-in-out;
      }
    }
    .toggle-speech-speed{
      cursor: pointer;
      display: flex;
      padding: 13px 9px;
      font-size: 0.8em; 
      border-radius: 50%;
      flex-direction: column;
      align-items: center;
      border:3px Solid #f1c232;
    }
  }
  .navbar-links {
    > ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
    }

    ul li {
      cursor: pointer;
      padding: 1rem;
      display: block;
      text-decoration: none;
      color: beige;
      text-transform: uppercase;
      &:hover {
        color: #F0c330;
        transition: 0.5s;
    }
    }
  }
}

@media only screen and (min-width: 1079px) and (max-width: 1412px){
  .navbar {
    .logo-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
      .logo {
        height: auto;
        width: auto;
        max-width: 16vw;
        max-height: 6vh;
        border-radius: 40px;
        padding: 10px;
      }
      .navbar-brand-title{
        font-size: 1.3rem;
        text-transform: uppercase;
        color: #f1c232;
      }
    }
    .filters-container{
      .stream-button{
        cursor: pointer;
        margin: 0 15px 0 0;
        padding: 16px; 
      }
      .download-button{
        cursor: pointer;
        margin: 0 15px 0 0;
        padding: 12px; 
        :first-child(1){
          font-size: 1.8em;
        }
        :nth-last-child(1){
          font-size: 0.8em;
        }
      }
      .voice-dropdown{
        .dropbtn {
          background-color: #4CAF50;
          color: white;
          width: 12vw;
          border-radius: 18px;
          padding: 16px;
          font-size: 16px;
        }
        .dropdown-content {
          min-width: 12vw;
          > span {
            padding: 12px 16px;
            margin: 3px;
            display: block;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 600px) and (max-width: 1079px) {
  .navbar {
    .logo-container{
      margin: 0 5px 0 0;
      .logo {
        height: auto;
        width: auto;
        max-width: 13vw;
        max-height: 5vh;
        border-radius: 40px;
      }
      .navbar-brand-title{
        font-size: 1rem;
      }
    }
    .filters-container{
      .stream-button{
        margin: 0 0 0 0;
        padding: 9px; 
      }
      .download-button{
        margin: 0;
        padding: 12px; 
        :first-child(1){
          font-size: 1.8em;
        }
        :nth-last-child(1){
          font-size: 0.7em;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    .logo-container{
      margin: 0 5px 0 0;
      .logo {
        height: auto;
        width: auto;
        max-width: 12vw;
        max-height: 4vh;
        border-radius: 40px;
      }
      .navbar-brand-title{
        font-size: 0.8rem;
      }
    }
    .filters-container{
      .stream-button{
        margin: 0 0 0 0;
        padding: 6px; 
      }
      .download-button{
        margin: 0;
        padding: 12px; 
        :first-child(1){
          font-size: 1.8em;
        }
        :nth-last-child(1){
          font-size: 0.6em;
        }
      }
      .toggle-speech-speed{
        padding: 10px 6px;
        font-size: 0.7rem; 
        border:2px Solid #f1c232;
      }
    }
  }
}